#
# General
#
DEBUG=false

# SQLite3 DB file path
DB_FILE=./neurobot.db

# Webhook listener server runs on this port
WEBHOOK_LISTENER_PORT=8080

# TOML file path
# this is where workflows are defined, from which they will be imported into the database
WORKFLOWS_DEF_TOML_FILE=./resources/workflows.toml

# Cryptography
# SALT is what makes your encryption key different from others running the same program, hence not a weak encryption
# Use a long random string, that has atleast 32 characters in it
SALT=""

#
# Matrix
#
MATRIX_SERVER_NAME=matrix.test:443
MATRIX_USERNAME=morpheus
MATRIX_PASSWORD=redpill

# Bots
# Note these are just the passwords, you must configure the bot in resources/seeds/bots.go.
#AFKBOT_PASSWORD=abc123
