#
# General
#
DEBUG=false

# SQLite3 DB file path
DB_FILE=./neurobot.db

# Webhook listener server runs on this port
WEBHOOK_LISTENER_PORT=8080

# TOML file path
# this is where workflows are defined, from which they will be imported into the database
WORKFLOWS_DEF_TOML_FILE=./workflows.toml

#
# Matrix
#
#MATRIX_SERVER_NAME=matrix.test:443
#MATRIX_USERNAME=morpheus
#MATRIX_PASSWORD=redpill
